body {
  background: linear-gradient(
      rgba(237, 208, 212, 0.6),
      rgba(117, 116, 115, 0.6)
    ),
    url("images/bg-love.jpg");

  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: "Segoe UI", sans-serif;
  text-align: center;
  margin: 0;
  overflow-x: hidden;
  min-height: 100vh;
  padding-top: 80px;
}

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 50px;
  color: #a134cf;
  font-weight: bolder;
  font-style: italic;
  margin-bottom: 30px;
  animation: fadeInUp 2s ease-in-out;
}

p {
  font-size: 40px;
  font-family: "Great Vibes", cursive;
  margin-bottom: 40px;
  color: rgb(251, 251, 249);
  font-weight: bolder;
  animation: fadeInZoom 2.5s ease-in-out;
}

button {
  padding: 10px 20px;
  font-size: 20px;
  margin: 20px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  animation: popIn 1.5s ease-in-out;
}

.yes {
  background-color: #5b9bdb;
  color: white;
}
.yes:hover {
  background-color: #ade0b8;
  color: black;
}

.no {
  background-color: #dc3545;
  color: white;
}
.no:hover {
  background-color: #6e0913;
}

.message {
  font-size: 22px;
  font-weight: bold;
  color: #0f0303;
  margin-top: 30px;
}

.congrats {
  color: #6b054e;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 50px;
  animation: fadeInZoom 2s ease-out;
}

.subtext {
  font-size: 35px;
  font-weight: bolder;
  font-style: oblique;
  color: #020a27;
  animation: fadeInUp 2s ease-in-out;
}

/* Floating Heart Animation */
.heart {
  position: fixed;
  width: 20px;
  height: 20px;
  background: red;
  transform: rotate(45deg);
  animation: floatHeart 6s ease-in infinite;
  top: 100vh;
  z-index: 0;
}
.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: red;
  border-radius: 50%;
}
.heart::before {
  top: -10px;
  left: 0;
}
.heart::after {
  left: -10px;
  top: 0;
}

/* Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes floatHeart {
  0% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: translateY(-100vh) rotate(360deg);
    opacity: 0;
  }
}
